ADMIN_TOKEN=change-me
WG_IFACE=wg0y
WG_BIN=/usr/bin/wg
SUDO_BIN=/usr/bin/sudo
V4_NET=10.66.66.0/24
ENDPOINT_HOST=vpn.spraxxx.net
ENDPOINT_PORT=8477
DNS=1.1.1.1,1.0.0.1
PUBLIC_ROOT=/var/www/wg/clients
BIND_HOST=127.0.0.1
BIND_PORT=8000
RATE_LIMIT_PER_MIN=10